<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Drew Kestell">
    <meta name="description" content="drewkestell.us">
    <title>@ViewData["Title"] - drewkestell.us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.min.css" asp-append-version="true">
    </environment>
</head>
<body>
    @await Html.PartialAsync("_MainNavigation")
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
