<div class="rss-container">
    <a href="/rss.xml"><img src="/img/rss-icon.png" class="rss-icon"></a><span class="rss-text">Subscribe to the RSS feed to keep up with new chapters as they're released</span>
</div>