@using DrewKestellSite.ViewModels

@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1 class="m-b-xl">Users</h1>

<div class="panel">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
            </tr>
            }
        </tbody>
    </table>
</div>