@using BloogBotBook.Models

@model ArticleChapter

@{
    ViewData["Title"] = "Create Article";
}

<h1>New Article</h1>

<form method="post">
    @await Html.PartialAsync("~/Views/Article/_Form.cshtml")
</form>