/* desert scheme for google prettify: https://github.com/google/code-prettify/blob/master/styles/desert.css */
pre.prettyprint {
  display: block;
  background-color: #333;
  padding: 8px 12px !important;
  font-size: 0.8rem;
  overflow-x: auto;
  line-height: 18px;
}

pre .nocode {
  background-color: none;
  color: #000;
}

pre .str {
  color: #ffa0a0;
}
/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

pre .com {
  color: #87ceeb;
}
/* comment - skyblue */
pre .typ {
  color: #98fb98;
}
/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}
/* literal - darkred */
pre .pun {
  color: #fff;
}
/* punctuation */
pre .pln {
  color: #fff;
}
/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #98fb98;
}
/* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}

@media print {
  pre.prettyprint {
    background-color: none;
  }

  pre .str,
  code .str {
    color: #060;
  }

  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit,
  code .lit {
    color: #044;
  }

  pre .pun,
  code .pun {
    color: #440;
  }

  pre .pln,
  code .pln {
    color: #000;
  }

  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn,
  code .atn {
    color: #404;
  }

  pre .atv,
  code .atv {
    color: #060;
  }
}

/* end prettify theme */

 /* tables */

table {
  border-collapse: collapse;
  box-sizing: border-box;
}

thead {
  box-sizing: border-box;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  box-sizing: border-box;
}

th {
  text-align: inherit;
  box-sizing: border-box;
  font-weight: bold;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

code {
  background-color: #e6e6e6;
  padding: 1px 3px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.container {
  padding: 20px 40px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.content {
  margin-top: 20px;
}

.section-divider {
  border: 0;
  text-align: center;
  margin: 28px 0 50px 34px;
  font-size: 3rem;
  letter-spacing: 2rem;
}

.quote {
  font-style: italic;
  font-size: 0.9rem;
}

.cite {
  font-weight: bold;
  font-style: normal;
  font-size: 0.9rem;
}

.source {
  font-style: normal;
  font-size: 0.9rem;
}

.img-memory {
  width: 400px;
  max-width: 100%;
  float: right;
  margin-left: 40px;
  margin-bottom: 30px;
}

.img-memory-layout {
  width: 600px;
  max-width: 100%;
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.img-hacked {
  float: right;
  margin-left: 40px;
  margin-bottom: 30px;
  max-width: 100%;
}

.img-full {
  max-width: 100%;
}

.img-enough-talk {
  float: left;
  width: 320px;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}

.ragh {
  width: 120%;
}

.clearfix {
  clear: both;
}

.m-b-md {
  margin-bottom: 6px;
}

.m-b-l {
  margin-bottom: 20px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
  font-size: .9rem;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 6px;
  font-size: 0.9rem;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font-size: 0.9rem;
  padding: 6px;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  padding: 4px 8px;
}

.comment {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment p {
  margin-bottom: 10px;
  margin-top: 0;
}

.comment-poster,
.comment-reply {
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
}

form {
  margin-bottom: 40px;
}

.img-demonstration-1 {
  width: 800px;
}

.reply {
  margin-top: 20px;
  padding-left: 20px;
  border-left: 1px solid gray;
}

.comment-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rss-icon {
  border: 0;
  vertical-align: bottom;
  width: 30px;
  margin-right: 5px;
}

.rss-text {
  vertical-align: text-bottom;
}

h1 {
  margin: 0;
}

.chapter-number {
  margin-bottom: 10px;
}

.absolute {
  position: absolute;
  top: 42px;
  left: -260px;
  bottom: 0;
}

.left-navigation {
  padding: 16px 20px;
  background: #f7f7f7;
  height: fit-content;
  border: 1px solid #f3f3f3;
  position: fixed;
}

.left-navigation ul {
  padding-left: 18px;
  margin: 0;
}

.left-navigation a {
  display: block;
  text-decoration: none;
  display: block;
  color: #737373;
  font-size: 0.9rem;
}

.left-navigation a:hover {
  text-decoration: underline;
}

.left-navigation a.active {
  font-weight: bold;
  color: #000;
}

.navigation-container {
  height: 60px;
  background-color: #94cef5;
  box-shadow: 0px 1px 2px 0px #929292;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 60px;
  padding: 0 20px;
}

.nav-item {
  padding-right: 40px;
}

.nav-item a {
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  color: #fff;
}

.btn {
  background-color: #ddd;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &.btn-primary {
    background-color: #94cef5;
  }

  &.btn-submit {
    display: block;
    background-color: #79e0b9;
  }
}

.chapter {
  padding: 10px 20px 0 20px;
  border: 1px dashed #e2e2e2;
  position: relative;

  .delete-chapter {
    position: absolute;
    right: 10px;
    top: 6px;
  }
}

.comments-status {
  min-height: 24px;
  margin-bottom: 20px;

  span {
    display: block;

    &.comments-success {
      color: #36c736;
    }

    &.comments-error {
      color: red;
    }
  }
}

.comments {
  margin-top: 30px;
}

.article-container {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  a {
    text-decoration: none;
    color: inherit;
  }
  .article-card {
    padding: 10px;
    box-shadow: 1px 1px 5px 2px #8080808a;
  }
}

@media screen and (max-width: 1620px) {
  .container, .navigation {
    max-width: 800px
  }
}

@media screen and (max-width: 1420px) {
  .absolute {
    display: inline-block;
    position: inherit;
    top: 0;
    left: 0;
  }
  .left-navigation {
    position: inherit;
  }
}